  <div id="form-container">
    <div class="form-elements">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :name, label: "Nom de l'évènement" %>
        <%= f.input :event_type, label: 'Thématique [DD / EXPORT / RETAIL]' %>
        <%= f.input :date, label: 'date jour et heure de début' %>
        <%= f.input :description, label: 'Description en 1 ligne de event' %>
        <%= f.input :descriptionlong, label: 'Détails de event' %>
        <%= f.input :price_w_adhesion, label: 'Prix pour les adhérents Agroé (euros)' %>
        <%= f.input :price_ext, label: 'Prix pour les extérieurs (euros)' %>
        <%= f.input :address, label: 'Lieu' %>
        <%= f.input :registration_link, label: 'lien vers la page helloasso de event' %>
        <%= f.input :registerdoclink, label: 'lien vers le doc d''inscription' %>
        <%= f.input :affluence, label: 'Affluence à l''évènement' %>
        <%= f.input :photo, label: 'Photo' %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

