<div class="col-xs-12 col-md-4">
  <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'planet.jpg'%>);">
    <div class="event-date">
      <%= event.name %>
    </div>
    <div class="event-type salon"><%= event.event_type %></div>
    <div class="event-title"><%= event.name %></div>
    <div class="event-title2"><%= event.description %></div>
    <div class=event-price-adhesion><%= event.price_w_adhesion %></div>
    <div class="event-address"><%= event.address %></div>
    <div class="event-registration-button">
    <%= link_to('Inscription', event.registration_link, class: "btn btn-success") %>
    </div>
  </div>
</div>
