

    <% if !event.photo.nil? %>
      <%  image = event.photo %>
    <% else %>
      <%  image = "agroe.png" %>
    <% end %>

  <div class="event">
    <div class="event-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url(<%= image %>);"></div>
    <div class="event-date">
      <%= event.date.strftime("%d/%m/%Y") if !event.date.nil? %>
    </div>
    <div class="event-title">
      <p><%= event.name %></p>
      <div class="event-description hidden">
        <%= event.description %>
      </div>
    </div>
    <div class="event-address">
      <%= event.address %>
    </div>
    <% if event.registration_link === "" %>
      <div class="event-registration-button hidden">
        <p>non disponible </p>
      </div>
      <div class="event-price-adhesion event-indisponible-message"> Indisponible </div>
    <% else %>
      <% if event.date < Date.today %>
        <div class="event-registration-button hidden">
          <p>évènement terminé </p>
        </div>
      <% else %>
        <div class="event-price-ext hidden" >Non-adhérent : <%= event.price_ext %> &#8364</div>
        <% if event.price_w_adhesion === 0 %>
          <div class="event-price-adhesion">Adhérent : Gratuit </div>
        <% else %>
          <div class="event-price-adhesion">Adhérent : <%= event.price_w_adhesion %> &#8364</div>
        <% end %>
        <div class="event-registration-button hidden">
          <%= link_to('Inscription', event.registration_link, class: "btn visionnary-back") %>
        </div>
      <% end %>

    <% end %>
    <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
  </div>
