

    <% if !event.photo.nil? %>
      <%  image = event.photo %>
    <% else %>
      <%  image = "agroe.png" %>
    <% end %>

  <div class="event">
    <div class="event-image">
       <img src=<%= image %> >
    </div>
    <div class="event-date">
      <%= event.date.strftime("%d/%m/%Y") if !event.date.nil? %>
    </div>
    <div class="event-title">
      <p><%= event.name %></p>
      <div class="event-description hidden">
        <%= event.description %>
      </div>
    </div>
    <div class="event-address">
      <%= event.address %>
    </div>

    <% if event.date < Date.today %>
      <div class="event-registration-button hidden">
        <p> évènement terminé </p>
      </div>
      <% if !event.affluence.nil? %>
        <div class="event-price-ext experts event-indisponible-message">
          <%= event.affluence %> pers. présentes
        </div>
      <% end %>
    <% else %>
      <% if event.registration_link === "" %>
      <div class="event-price-ext visionnary event-indisponible-message">
         Non ouvert
      </div>
      <% else %>
      <% if user_signed_in? %>
        <% if event.price_w_adhesion === 0 %>
          <div class="event-price-ext engage">Gratuit </div>
        <% else %>
          <div class="event-price-ext engage"><%= event.price_w_adhesion %> &#8364</div>
        <% end %>
      <% else %>
      <% if event.event_type === "DD" %>
      <div class="event-price-ext engage" >AgroClub</div>
                <% else %>
        <div class="event-price-ext engage" ><%= event.price_ext %> &#8364</div>
        <% end %>
        <% if event.price_w_adhesion === 0 %>
          <div class="event-price-adhesion engage">Tarif Adhérent : Gratuit </div>
        <% else %>
          <div class="event-price-adhesion engage"> Tarif Adhérent : <%= event.price_w_adhesion %> &#8364</div>
        <% end %>
        <div class="event-registration-button hidden">
          <%= link_to('Inscription', event.registration_link, class: "btn visionnary-back") %>
        </div>
      <% end %>
      <% end %>

    <% end %>
    <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
  </div>
