<div class="">
<%= simple_form_for(@event) do |f| %>
  <div class="form-group">
    <%= f.label :Nom_de_lévenement %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :date_yy %>
    <%= f.text_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date_yy %>
    <%= f.input :photo  class: 'form-control-file' %>
    <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

</div>
