<div id="team-container">
  <div class="team-elements">
    <div class="team-element">
      <div class="team-theme">
       Relations extérieures </br> Politique générale
      </div>
      <div class="img-bg">
       <%= image_tag 'https://media-exp1.licdn.com/dms/image/C5103AQHV6_sLrtv1Vg/profile-displayphoto-shrink_800_800/0?e=1594252800&v=beta&t=JTw3Tb6j8oHxV-xLkWFLxdEG81r8wyXIyic3p2XYLes', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Fabrice Hoschede
      </div>
      <div class="team-job">
        Délégué Général
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/fabrice-hoschede-88207852/?originalSubdomain=fr' %></br>
      <a href="mailto:f.hoschede@agroe.fr", class="">f.hoschede@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
      Administratif </br> Adhésion
    </div>
      <div class="img-bg">
        <%= image_tag 'https://media-exp1.licdn.com/dms/image/C4D03AQHUQRGCK5MCWQ/profile-displayphoto-shrink_800_800/0?e=1594252800&v=beta&t=rSmEjDMOg7MJSxAsuXdgHeS5AfVXhTpw0Qd9dmeab58', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Delphine Josset
      </div>
      <div class="team-job">
        Assistante de direction
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/delphine-josset-523225173/' %></br>
      <a href="mailto:d.josset@agroe.fr", class=""> d.josset@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
          Montage de projets </br> Financement de projets
        </div>
      <div class="img-bg">
        <%= image_tag 'AT.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Audrey Terlynck
      </div>
      <div class="team-job">
        Chef de Projet
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/audrey-terlynck-674660119/' %></br>
      <a href="mailto:a.terlynck@agroe.fr", class=""> a.terlynck@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
      RSE </br> Digital
    </div>
      <div class="img-bg">
        <%= image_tag 'https://media-exp1.licdn.com/dms/image/C4E03AQFWPdN_Z_iZYA/profile-displayphoto-shrink_200_200/0?e=1594252800&v=beta&t=jDCQ7EF3PQ6NGUSvj9_pCq_KtZaB5kUdEsitfCFzhOU', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Julien Mottet
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/julienmottet/' %>
            <%= link_to '<i class="fab fa-twitter-square"></i>'.html_safe, 'https://twitter.com/JuMottet' %></br>
      <a href="mailto:j.mottet@agroe.fr", class="">j.mottet@agroe.fr </a>
    </div>
  </div>
</div>
