<div id="team-container">
  <div class="team-elements">
    <div class="team-element">
      <div class="team-theme">
       Relations extérieures </br> Politique générale
      </div>
      <div class="img-bg">
       <%= image_tag 'http://www.agroe.fr/img/photo-fabrice-hoschede.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Fabrice Hoschede
      </div>
      <div class="team-job">
        Délégué Général
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/fabrice-hoschede-88207852/' %></br>
      <a href="mailto:f.hoschede@agroe.fr", class="">f.hoschede@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
      Administratif </br> Adhésion
    </div>
      <div class="img-bg">
        <%= image_tag 'http://www.agroe.fr/img/photo-delphine-josset.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Delphine Josset
      </div>
      <div class="team-job">
        Assistante de direction
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/delphine-josset-523225173/' %></br>
      <a href="mailto:d.josset@agroe.fr", class=""> d.josset@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
          Montage de projets </br> Financement de projets
        </div>
      <div class="img-bg">
        <%= image_tag 'AT.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Audrey Terlynck
      </div>
      <div class="team-job">
        Chef de Projet
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/audrey-terlynck-674660119/' %></br>
      <a href="mailto:a.terlynck@agroe.fr", class=""> a.terlynck@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
      RSE </br> Digital
    </div>
      <div class="img-bg">
        <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Julien Mottet
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/julienmottet/' %>
            <%= link_to '<i class="fab fa-twitter-square"></i>'.html_safe, 'https://twitter.com/JuMottet' %></br>
      <a href="mailto:j.mottet@agroe.fr", class="">j.mottet@agroe.fr </a>
    </div>
    <div class="team-element">
      <div class="team-theme">
      Dév. commercial </br> Export
    </div>
      <div class="img-bg">
        <%= image_tag 'karine.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Karine Pietrzak
      </div>
      <div class="team-job">
        Chargée de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/karine-pietrzak-84aba6131/' %></br>
      <a href="mailto:k.pietrzak@agroe.fr", class=""> k.pietrzak@agroe.fr </a>
    </div>
  </div>
</div>
