<div id="team-container">
  <h3> Besoin d'un avis ? L'équipe est à votre service. </h3>
  <div class="team-elements">
    <div class="team-element">
      <div class="img-bg">
       <%= image_tag 'http://www.agroe.fr/img/photo-fabrice-hoschede.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Fabrice Hoschede
      </div>
      <div class="team-job">
        Délégué Général
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/fabrice-hoschede-88207852/' %>
    </div>
    <div class="team-element">
      <div class="img-bg">
        <%= image_tag 'http://www.agroe.fr/img/photo-delphine-josset.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Delphine Josset
      </div>
      <div class="team-job">
        Assistante de direction
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/delphine-josset-523225173/' %>
    </div>
    <div class="team-element">
      <div class="img-bg">
        <%= image_tag 'AT.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Audrey Terlynck
      </div>
      <div class="team-job">
        Chef de Projet
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/audrey-terlynck-674660119/' %>
    </div>
    <div class="team-element">
      <div class="img-bg">
        <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Julien Mottet
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/julienmottet/' %>
            <%= link_to '<i class="fab fa-twitter-square"></i>'.html_safe, 'https://twitter.com/JuMottet' %>
    </div>
    <div class="team-element">
      <div class="img-bg">
        <%= image_tag 'karine.jpg', class:' avatar-big' %>
      </div>
      <div class="team-name">
        Karine Pietrzak
      </div>
      <div class="team-job">
        Chargée de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/karine-pietrzak-84aba6131/' %>
    </div>
  </div>
</div>
