<div class="user-card">
  <h4><strong><%= user.first_name %><%= user.last_name %></strong></h4>
  <p><%= user.job_position %></p>
  <p><%= user.company_name %></p>
  <% if user.person_img.present? %>
    <div class="avatar-big"><%= cl_image_tag(user.person_img) %></div>
  <% else %>
    <div class="avatar-big"><%= image_tag("profil.png") %></div>
  <% end %>
  <h5>
    <a href="tel:" + <%= current_user.phone_number %>><i class="fas fa-phone"></i> <%= current_user.phone_number %> </a>
  </h5>
  <h5>
    <a href="mailto:" + current_user.email , class=""><i class="fas fa-envelope"></i> <%=current_user.email %> </a>
  </h5>
   <p> <%= user.company_name %></p>
   <p> <%= user.address %></p>
   <p> <%= user.siret %></p>

    <% if current_user.admin === true %>
      <%= link_to user_path(user) do %>
        <i class="fas fa-pen"></i><%= t(".edit", default: "edit") %>
      <% end %>
   <% end %>
</div>


