<div class="col-xs-12 col-md-4">
  <% if !user.company_img.nil? %>
    <%  image = user.company_img %>
  <% else %>
    <%  image = "agroe.png" %>
  <% end %>
  <div class="user" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= image %>);">
    <div class="user-date">
     <p><%= user.first_name %></p>
     <p> <%= user.last_name %></p>
    </div>
    <% if current_user.person_img.present? %>
      <div class="user-title"><%= cl_image_tag(user.person_img) %></div>
    <% else %>
      <div class="user-title"><%= image_tag("profil.png") %></div>
   <% end %>

    <div class="user-liencard"><a href=<%= user_path(user) %> ></a></div>
    <div class="user-description"><%= user.job_position %></div>
    <div class="user-address">
     <p> <%= user.company_name %></p>
     <p> <%= user.address %></p>
     <p> <%= user.siret %></p>
    </div>
    <div class="user-registration-button">
        <%= current_user.phone_number %>
    </div>
  </div>
</div>

