<% if !event.photo.nil? %>
  <%  image = event.photo %>
<% else %>
  <%  image = "agroe.png" %>
<% end %>
<% if event.date < Date.today %>
  <div class="events-list-element bg-done">
<% else %>
  <div class="events-list-element bg-live">
<% end %>
    <div class="event-date">
      <p><%= event.date.strftime("%d/%m/%Y") if !event.date.nil? %></p>
    </div>
    <div class="event-title">
      <p><%= event.name %></p>
    </div>
    <div class="event-description"><%= event.description %>
    </div>
    <div class="event-address">
      <%= event.address %>
    </div>
    <% if event.date < Date.today %>
      <div class="event-registration-button hidden"><p> évènement terminé </p></div>
      <% if !event.affluence.nil? %>
        <div class="event-price-ext experts event-indisponible-message">
          <%= event.affluence %> pers. présentes
        </div>
      <% end %>
    <% else %>
      <% if event.registration_link === "" %>
      <div class="event-price-ext visionnary event-indisponible-message hidden">
         Non ouvert
      </div>
      <% else %>
        <% if user_signed_in? %>
          <% if event.price_w_agroclubrse_adhesion === 0 %>
            <div class="event-price-ext engage hidden"> Gratuit </div>
          <% else %>
            <div class="event-price-ext engage hidden"> <%= event.price_w_agroclubrse_adhesion %> &#8364 </div>
          <% end %>
        <% else %>
          <% if event.price_w_agroclubrse_adhesion === 0 %>
            <div class="event-price-adhesion engage hidden"> Adhérent AgroClubRSE : Gratuit </div>
          <% else %>
            <div class="event-price-adhesion engage hidden"> Adhérent AgroClubRSE : <%= event.price_w_agroclubrse_adhesion %> &#8364</div>
          <% end %>
          <div class="event-price-ext engage hidden" ><%= event.price_ext %> &#8364</div>
        <% end %>
      <% end %>
    <% end %>
    <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
  </div>
