<div class="col-xs-12 col-md-4">
  <% if !event.photo.nil? %>
    <%  image = event.photo %>
  <% else %>
    <%  image = "agroe.png" %>
  <% end %>

  <div class="card-container">
    <div class="img-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image %>);">
    </div>
    <div class="card-title">
      <%= event.name %>
      <div class="card-date"><%= event.date.strftime("%d/%m/%Y")  %></div>
      <div class="card-description"><p><%= event.description[0..110].gsub(/\s\w+\s*$/,'...') %></p></div>
    </div>
      <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
  </div>
</div>



