<div class="col-xs-12 col-md-3">
  <% if !event.photo.nil? %>
    <%  image = event.photo %>
  <% else %>
    <%  image = "agroe.png" %>
  <% end %>

  <div class="card-container">
    <div class="img-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image %>);">
    </div>
    <div class="card-title">
      <%= event.name %>
      <div class="card-description"><p><%= event.description %></p></div>
    </div>
    <% if !user_signed_in? %>
      <% if event.agroe_adhesion_protected === true %>
          <div class="event-liencard"><a href=<%= new_user_session_path %> ></a></div>
          <div class="lock-info"><i class="fas fa-lock"></i>
          </div>
      <% else %>
        <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
      <% end %>
    <% else %>
      <% if current_user.adhesion_type === 'agroe' %>
        <% if event.agroclubrse_only === true %>
          <div class="lock-info">AgroClubRSE<i class="fas fa-lock"></i></div>
        <% else %>
          <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
      <% end %>
      <% else %>
        <div class="event-liencard"><a href=<%= event_path(event) %> ></a></div>
      <% end %>
    <% end %>
  </div>
</div>



