<div class="event-show-links">
  <% if @event.date < Date.today %>
    <p> Évènement terminé </p>
    <% if !@event.affluence.nil? %>
      <p> <strong> <%= @event.affluence %> personnes </strong> étaient présentes. </p>
    <% end %>
  <% else %>
    <% if @event.registration_link === "" %>
      <p> Non ouvert aux inscriptions </p>
    <% else %>
      <% if @event.registerdoclink === "" %>
      <% else %>
        <div class='sub-btn-prim'>
          <%= link_to("Télécharger le bulletin d'inscription", @event.registerdoclink, class: "btn btn-primary") %>
        </div>
        <p> ou </p>
      <% end %>
      <div class='sub-btn-sec'>
        <a href=<% @event.registration_link%>>
        <div class="btn-register">
          Inscription en ligne
        </div>
        </a>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <p>Prix : <strong><%= @event.price_w_adhesion %> &#8364</strong></p>
    <% else %>
      <p>Prix "adhérent AgroClubRSE" : <strong><%= @event.price_w_agroclubrse_adhesion %> &#8364</strong></p>
      <p>Prix "adhérent Agroé" : <strong><%= @event.price_w_adhesion %> &#8364</strong></p>
      <p>Prix non adhérents : <strong><%= @event.price_ext %> &#8364</strong></p>
    <% end %>
  <% end %>
  <% if user_signed_in? && current_user.admin === true %>
    <p><%= link_to("Edit", edit_event_path(@event), class: "btn btn-info") %></p>
    <p><%= link_to("Destroy", event_path(@event),method: :delete,
              data: { confirm: "Are you sure?" },class: "btn btn-danger") %></p>
  <% end %>
</div>
