
<div class="retour">
   <%= link_to('Retour', root_path(anchor: "events"), class: "btn btn-default") %>
</div>

<div class="event-show-container">

    <h1>
      <strong><%= @event.name %></strong>
    </h1>
    <h5>
      <strong><%= @event.description %></strong>
    </h5>
      <% if !@event.photo.nil? %>
    <div class="img-thumbnail">
      <%= cl_image_tag(@event.photo) %>
    </div>
    <% end %>
  <div class="event-show-information">
    <p>
      Date : <strong><%= @event.date.strftime("%d/%m/%Y") if !@event.date.nil? %></strong>
    </p>
     <p>
      Lieu de l'évènement : <strong><%= @event.address %></strong>
    </p>


    <p>
      Détail : </br><%= @event.descriptionlong %>
    </p>



      <% if @event.registration_link === "" %>
      <% else %>
        <% if @event.date < Date.today %>
        <% else %>
          <p>
            Prix pour les adhérents : <strong><%= @event.price_w_adhesion %> &#8364</strong>
          </p>
          <p>
            Prix pour les non adhérents : <strong><%= @event.price_ext %> &#8364</strong>
          </p>
          <p>
            <%= link_to('Inscription', @event.registration_link, class: "btn btn-success") %>
          </p>
        <% end %>
      <% end %>



     <% if user_signed_in? && current_user.admin === true %>

  <p>
    <%= link_to("Edit", edit_event_path(@event), class: "btn btn-info") %>
  </p>


  <p>
  <%= link_to("Destroy", event_path(@event),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-danger") %>
  </p>

  <% end %>
  </div>


</div>

