<div class="event-profil-container">
  <div class="event-profil-content">
    <div class="img-event-profil">
      <% if !@event.photo.nil? %>
        <%= cl_image_tag(@event.photo) %>
      <% else %>
        <%= cl_image_tag("agroe.png") %>
      <% end %>
    </div>
    <div class="event-veille">
      <% if !@event.descriptionlong.nil? %>
        <% if user_signed_in? %>
          <%= @event.descriptionlong.html_safe %>
        <% else %>
          <p> Si vous souhaitez accéder, merci de vous connectez à <br/><%= link_to("l'espace adhérent", new_user_session_path, class: "btn btn-default") %></p>
        <% end %>
        <% if user_signed_in? && current_user.admin %>
          <%= link_to("Edit", edit_event_path(@event), class: "btn btn-info") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
