<div id="history-container">
  <div class="history-elements">
    <h2><strong> 10 ans d'expérience sur la filière</strong></h2>
    <h5> Né en 2010 de la volonté de créer une dynamique dédiée à l’agroalimentaire, premier secteur industriel régional, Agroé est une association au service des entreprises de la filière et notamment des TPE et PME.</h5>
  </div>
</div>

<div id="team-container">
    <h1><strong> Une équipe à votre écoute </strong></h1>
  <div class="team-elements">
    <div class="team-element">
      <%= image_tag 'profil.png', class:' avatar-team-medium' %>
      <div class="team-name">
        Karine Pietrzak
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:' avatar-team-medium' %>
      <div class="team-name">
        Julien Mottet
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-fabrice-hoschede.jpg', class:' avatar-team-medium' %>
      <div class="team-name">
        Fabrice Hoschede
      </div>
      <div class="team-job">
        Délégué Général
      </div>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-delphine-josset.jpg', class:' avatar-team-medium' %>
      <div class="team-name">
        Delphine Josset
      </div>
      <div class="team-job">
        Assistante de direction
      </div>
    </div>
  </div>
      <a href="https://lc.cx/contact-agroe" class="btn btn-success">Contacter Agroé</a>
</div>

<div id="president-container">
  <div class="president-elements">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="president-profil">
          <h1> Un président engagé </h1>
            <%= image_tag 'http://www.agroe.fr/img/michel-lienard.jpg', class:' avatar-medium' %>
          <p>
            Michel Liénard, Président d'Agroé
          </p>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6">
        <div class="president-discours">
          <p>
            "Depuis sa création, <span class="highlight">Agroé accompagne les PME et surtout les TPE agroalimentaires dans leur développement</span> et leur propose d’anticiper les grands enjeux de demain en leur apportant des réponses à leurs problématiques quotidiennes, plus spécifiquement en matière de développement durable et d’export, deux axes stratégiques que le pôle a jugé essentiel à leur croissance.
          </p>
          <p>
            Agroé veille également depuis ses débuts à <span class="highlight">créer une dynamique collective régionale</span> en collaborant avec ses nombreux partenaires experts régionaux.
          </p>
          <p>
            Ma vision d’entrepreneur est en effet le partage et le recours aux compétences de tous pour faire naître des projets ambitieux. C’est pourquoi, je suis très heureux d'être président d’Agroé, bien collectif au service de la filière agroalimentaire, secteur d’excellence régional."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map-container">
  <div class="map-elements">
    <div class="row">
      <div class=" col-xs-12 col-sm-6 col-sm-push-6">
        <h1><strong> Un positionnement géographique idéal</strong></h1>
      </div>
      <div class=" col-xs-12 col-sm-6 col-sm-pull-6">
        <div class="map-discours">
          <h4> <Strong>Nos Bureaux sont à Cambrai</Strong><br> à l'interface entre les anciennes régions Nord Pas-de-Calais et Picarde, au centre de la nouvelle région Hauts-de-France. </h4>
          <%= image_tag "Hauts-de-France_w_agroe.png", height: 400 %>
        </div>
      </div>
    </div>
  </div>
</div>




