<div id="urgence-contact">
  <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a> - <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
</div>
<div class="banner">
  <div class="banner-content">
    <%= image_tag 'agroe.png' %>
    <h2> Accompagne les entreprises agroalimentaires </br><span class="engage"> engagées </span> et <span class="visionnary"> visionnaires </span>. </h2>
    <h4> Développement Durable | Digital | Export | Ingénierie de Projets </h4>
    <p>
      <a href="#services" class="btn color-agroe"> Nos services
      <i class="fas fa-arrow-alt-circle-right"></i></a>
    </p>
  </div>
</div>
<div class="events">
  <h1><strong>Prochains Évènements</strong></h1>
  <div class="events-content">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'courtrai.jpg'%>);">
          <div class="event-date">18/03/2019</div>
          <div class="event-type salon">Salon</div>
          <div class="event-title">Marché du goût</div>
          <div class=event-organiser>Org: Interreg</div>
          <div class="event-address">Courtray (BEL)</div>
          <div class="event-registration-button">
            <a href="http://sh1.sendinblue.com/1ya48ztl4c.html?t=1548339563" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'symevad.png'%>);">
          <div class="event-date">04/04/2019</div>
          <div class="event-type club">Visite</div>
          <div class="event-title">Centre de tri du SYMEVAD</div>
          <div class="event-title2">
              Dans le cadre de  ses actions en faveur de l'écoconception, Agroé propose la visite d'un centre de tri dernière génération.
          </div>
          <div class=event-organiser>Org: Agroé / CITEO</div>
          <div class="event-address">Évin-Malmaison (62)</div>
          <div class="event-registration-button">
            <a href="https://www.eventbrite.fr/e/billets-visite-du-centre-de-tri-de-symevad-58361038437" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'paris.jpg'%>);">
          <div class="event-date">04/04/2019</div>
          <div class="event-type salon">Visite</div>
          <div class="event-title">Food Safary "Paris"</div>
          <div class="event-title2">Venez découvrir les nouvelles tendances retail à Paris</div>
          <div class=event-organiser>Org: Agroé</div>
          <div class="event-address">Paris (FR)</div>
          <div class="event-registration-button">
            <a href="" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="team-container">
  <h1><strong> Une équipe à votre écoute </strong></h1>
  <div class="team-elements">
    <div class="team-element">
      <%= image_tag 'karine.jpg', class:' avatar-big' %>
      <div class="team-name">
        Karine Pietrzak
      </div>
      <div class="team-job">
        Chargée de mission
      </div>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-delphine-josset.jpg', class:' avatar-big' %>
      <div class="team-name">
        Delphine Josset
      </div>
      <div class="team-job">
        Assistante de direction
      </div>
    </div>
    <div class="team-element">
      <%= image_tag 'AT.jpg', class:' avatar-big' %>
      <div class="team-name">
        Audrey Terlynck
      </div>
      <div class="team-job">
        Chef de Projet
      </div>
    </div>
  </div>
  <div class="team-elements">
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:' avatar-big' %>
      <div class="team-name">
        Julien Mottet
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-fabrice-hoschede.jpg', class:' avatar-big' %>
      <div class="team-name">
        Fabrice Hoschede
      </div>
      <div class="team-job">
        Délégué Général
      </div>
    </div>
  </div>
  <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a> - <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
</div>
<div id="services">
  <h1><strong>Nos Prestations</strong></h1>
  <div class="services-content">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Export
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
                      <div class="service-element-prestations">
                <ul>
                  <li>
                    Appel à Projets</br>
                    <span class="details">Nous consulter</span>
                  </li>
                  <li>
                    Étude filière </br>
                    <span class="details"> Nous consulter</span>
                  </li>
                  <li>
                    Evaluation de Business Model</br>
                    <span class="details"> Nous consulter</span>
                  </li>
                  <li>
                    </br>
                    <span class="details"> Nous consulter</span>
                  </li>
                  <li>
                    </br>
                    <span class="details"></span></br>
                  </li>
                  <li>
                    </br>
                    <span class="details"></span></br>
                  </li>
                </ul>
              </div>
              <div class="service-contact">
                <p> Contact</p>
                <%= image_tag 'AT.jpg', class:'avatar-middle' %>
                <div class="service-contact-email">
                <a href="https://www.linkedin.com/in/audrey-terlynck-674660119/"><i class="fab fa-linkedin"></i></a>
                 <p> a.terlynck@agroe.fr </p>
                </div>
              </div>
              <div class="service-subscription">
                <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
              </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accompagnement des entreprises
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
              <div class="service-element-prestations">
                <ul>
                  <li>
                    Visit Planner de salons </br>
                    <span class="details">500 &euro;</span>
                  </li>
                  <li>
                    Étude de marché</br>
                    <span class="details"> Nous consulter</span>
                  </li>
                  <li>
                    Recherche de financement</br>
                    <span class="details"> Nous consulter</span>
                  </li>
                  <li>
                    Montage de dossier de subvention</br>
                    <span class="details"> Nous consulter</span>
                  </li>
                  <li>
                    Accompagnement de projets</br>
                    <span class="details"></span></br>
                  </li>
                  <li>
                    Intelligeance économique</br>
                    <span class="details"></span></br>
                  </li>
                  <li>
                    Assistance au développemet commercial</br>
                    <span class="details"></span></br>
                  </li>
                </ul>
              </div>
              <div class="service-contact">
                <p> Contact</p>
                <%= image_tag 'karine.jpg', class:'avatar-middle' %>
                <div class="service-contact-email">
                  <p></p></br>
                 <p> k.pietrzak@agroe.fr </p>
                </div>
              </div>
              <div class="service-subscription">
                <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
              </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Développement Durable et Digital
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="service-element-prestations">
              <ul>
                <li>
                  Sensibilisation RSE </br>
                  <span class="details">En 2h découvrez les grands principes et des exemples issus d'entreprises agroalimentaires. Le package pour se rassurer de l'intérêt business de la RSE.</span>
                </li>
                <li>
                  Formation RSE </br>
                  <span class="details">Sur 2 demi-journées, découvrez les grands principes, des exemples détaillés et des outils. Le package idéal pour passer à l'action </span>
                </li>
                <li>
                  Diagnostic RSE </br>
                  <span class="details">Quelle action RSE mettre en place ? Pour répondre à cette question, nous vous proposons des diagnostics sur 3 demi-journées. Il vaut mieux avoir fait la formation avant.  </span>
                </li>
                <li>
                  Aide à la rédaction d'un DPEF</br>
                  <span class="details">La réglementation se durcit. Nous vous accompagnement dans la rédaction de ce document réglementaire pour les entreprises de plus de 500 salariés et 100 M de CA ou de total bilan. Ce document doit figurer sur votre siteweb. </span>
                </li>
                <li>
                  Développer l'audience vis à vis de vos informations RSE</br>
                  <span class="details">Diffuser un rapport RSE de plusieurs pages à toutes vos parties prenantes est inefficace. L'enjeux est de diffuser les bonnes informations aux bonnes personnes. Nous vous aidons. </span>
                </li>
              </ul>
            </div>
            <div class="service-contact">
              <p> Contact</p>
              <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:'avatar-middle' %>
              <div class="service-contact-email">
              <p><a href="https://www.linkedin.com/in/julienmottet/"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.linkedin.com/in/julienmottet/"><i class="fab fa-twitter"></i></a></p>
               <p> j.mottet@agroe.fr </p>
              </div>
            </div>
            <div class="service-subscription">
              <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="president-container">
  <div class="president-elements">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="president-profil">
          <div class="president-profil-container">
            <h1><strong> Un président engagé </strong> </h1>
              <%= image_tag 'http://www.agroe.fr/img/michel-lienard.jpg', class:' avatar-medium' %>
            <p>
              Michel Liénard, Président d'Agroé
            </p>
          </div>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6">
        <div class="president-discours">
          <div class="president-discours-container">
            <p>
              "Depuis sa création en 2010, <span class="highlight">Agroé accompagne les PME agroalimentaires dans leur développement</span> et leur propose d’anticiper les grands enjeux de demain.
            </p>
            <p>
              Agroé veille également depuis ses débuts à <span class="highlight">créer une dynamique collective régionale</span> en collaborant avec ses nombreux partenaires experts régionaux.
            </p>
            <p>
              Ma vision d’entrepreneur est en effet le partage et le recours aux compétences de tous pour faire naître des projets ambitieux. C’est pourquoi, je suis très heureux d'être président d’Agroé, bien collectif au service de la filière agroalimentaire, secteur d’excellence régional."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="adhesion" style="background-image: linear-gradient(to right,rgba(270,270,270,1),rgba(270,270,270,1),rgba(270,270,270,1), rgba(270,270,270,0.8)), url(<%= asset_path 'agroe.png'%>);">
  <h1> <strong> Nous rejoindre </strong></h1>
  <div class="adhesion-content">
    <div class="adhesion-title">
      Offre d'adhésion
    </div>
    <!-- using href attribue of a tag to define tab content that based on content id-->
    <ul class="nav nav-tabs service-offer" id="myNavTabs">
      <li class="active"><a href="#navtabs1" data-toggle="tab"><strong>Jeune Pousse</strong></br>< 3 ans </a>
      <li><a href="#navtabs2" data-toggle="tab"><strong>TPE</strong></br>< 20 jobs</a>
      <li><a href="#navtabs3" data-toggle="tab"><strong>PME</strong></br>< 50 jobs </a>
      <li><a href="#navtabs4" data-toggle="tab"><strong>PME</strong></br>< 250 jobs</a>
      <li><a href="#navtabs5" data-toggle="tab"><strong>ETI / GG</strong> </br> :) </a>
    </ul>

    <!-- using fade to define fade effect -->
    <!-- using active class to define the first actived tab and content -->

    <div class="tab-content service-offer-content">
      <div class="tab-pane fade in active" id="navtabs1">
        <h4> pour 1 personne : </h4>
        <h5><i class="fas fa-check"></i>Accès aux clubs d'Agroé.</h5>
        <h5><i class="fas fa-check"></i>Accès aux visites.</h5>
        <h5><i class="fas fa-check"></i>Accès à des webinaires exclusifs.</h5>
        <h5><i class="fas fa-check"></i>Accès à la plateforme de veille.</h5>
        <h5><i class="fas fa-check"></i>Accès aux prestations.</h5>
        <h5><i class="fas fa-check"></i>Accès aux compétences des autres adhérents.</h5>
        <h2>100 &euro;</h2>
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion</a>
      </div>
      <div class="tab-pane fade" id="navtabs2">
        <h4> pour 1 personne : </h4>
        <h5><i class="fas fa-check"></i>Accès aux clubs d'Agroé.</h5>
        <h5><i class="fas fa-check"></i>Accès aux visites.</h5>
        <h5><i class="fas fa-check"></i>Accès à des webinaires exclusifs.</h5>
        <h5><i class="fas fa-check"></i>Accès à la plateforme de veille.</h5>
        <h5><i class="fas fa-check"></i>Accès aux prestations.</h5>
        <h5><i class="fas fa-check"></i>Accès aux compétences des autres adhérents.</h5>
        <h2>200 &euro;</h2>
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion</a>
      </div>
      <div class="tab-pane fade" id="navtabs3">
        <h4> pour 2 personnes : </h4>
        <h5><i class="fas fa-check"></i>Accès aux clubs d'Agroé.</h5>
        <h5><i class="fas fa-check"></i>Accès aux visites.</h5>
        <h5><i class="fas fa-check"></i>Accès à des webinaires exclusifs.</h5>
        <h5><i class="fas fa-check"></i>Accès à la plateforme de veille.</h5>
        <h5><i class="fas fa-check"></i>Accès aux prestations.</h5>
        <h5><i class="fas fa-check"></i>Accès aux compétences des autres adhérents.</h5>
        <h2>300 &euro;</h2>
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion</a>
        </div>
      <div class="tab-pane fade" id="navtabs4">
        <h4> pour 4 personnes : </h4>
        <h5><i class="fas fa-check"></i>Accès aux clubs d'Agroé.</h5>
        <h5><i class="fas fa-check"></i>Accès aux visites.</h5>
        <h5><i class="fas fa-check"></i>Accès à des webinaires exclusifs.</h5>
        <h5><i class="fas fa-check"></i>Accès à la plateforme de veille.</h5>
        <h5><i class="fas fa-check"></i>Accès aux prestations.</h5>
        <h5><i class="fas fa-check"></i>Accès aux compétences des autres adhérents.</h5>
        <h2>300 &euro;</h2>
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion</a>
      </div>
      <div class="tab-pane fade" id="navtabs5">
        <h4> pour un nombre illimité de personnes</h4>
        <h5><i class="fas fa-check"></i>Accès aux clubs d'Agroé.</h5>
        <h5><i class="fas fa-check"></i>Accès aux visites.</h5>
        <h5><i class="fas fa-check"></i>Accès à des webinaires exclusifs.</h5>
        <h5><i class="fas fa-check"></i>Accès à la plateforme de veille.</h5>
        <h5><i class="fas fa-check"></i>Accès aux prestations.</h5>
        <h5><i class="fas fa-check"></i>Accès aux compétences des autres adhérents.</h5>
        <h2>300 &euro;</h2>
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion</a>
      </div>
    </div>
  </div>
</div>
<div id="partenaires">
  <h1><strong>Nos soutiens</strong></h1>
    <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_ADT.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_arras.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize' %>
</div>
<div class="questions-container">
<h4>Vous n'avez pas trouver l'information que vous cherchiez ? </h4>
 <h5> Échangeons sur les réseaux

  <span class="reseaux">
            <%= link_to '<i class="fab fa-twitter-square fa-2x"></i>'.html_safe, 'https://twitter.com/agroe_i' %>
            <%= link_to '<i class="fab fa-linkedin fa-2x"></i>'.html_safe, 'https://www.linkedin.com/company/18518876/admin/' %>
            <%= link_to '<i class="fab fa-facebook fa-2x"></i>'.html_safe, 'https://www.facebook.com/poleagroe/' %>
    </span> <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a> - <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a> </h5>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="text/javascript">
  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>

