<!doctype html>
  <div id="urgence-contact"><i class="fas fa-phone"></i> 03.27.70.15.80 - <i class="fas fa-envelope"></i> contact@agroe.fr</div>
  <div class="banner" style="background-image: linear-gradient(to right, rgba(270,270,270,0.1),rgba(270,270,270,1)), linear-gradient(to bottom, rgba(270,270,270,1), rgba(220,220,220,0.1)), url(<%= asset_path 'leroux1.png'%>);">
    <div class="banner-content">
      <%= image_tag 'agroe.png' %>
      <h2> Accompagne les entreprises agroalimentaires <span class="engage"> engagées </span> et <span class="visionnary"> visionnaires </span>. </h2>
      <h4> Développement Durable | Export | Digital | Business Model </h4>
      <p><a href="#services" class="btn color-agroe"> Nos services
      <i class="fas fa-arrow-alt-circle-right"></i></a></p>
      </div>
  </div>
  <div class="events">
    <h1><strong>Prochains Évènements</strong></h1>
    <div class="events-content">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'courtrai.jpg'%>);">
            <div class="event-date">
              18/03/2019
            </div>
            <div class="event-type salon">
               Salon
            </div>
            <div class="event-title">
              Marché du goût
            </div>
            <div class="event-title">
              Marché du goût
            </div>
            <div class=event-organiser>
              Org: Interreg
            </div>
            <div class="event-address">
              Courtray (BEL)
            </div>
            <div class="event-registration-button">
              <a href="http://sh1.sendinblue.com/1ya48ztl4c.html?t=1548339563" class="btn color-commerce"> Inscription </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'symevad.png'%>);">
            <div class="event-date">04/04/2019</div>
            <div class="event-type club">Visite</div>
            <div class="event-title">Centre de tri du SYMEVAD</div>
            <div class="event-title2">
                Dans le cadre de  ses actions en faveur de l'écoconception, Agroé propose la visite d'un centre de tri dernière génération.
            </div>
            <div class=event-organiser>Org: Agroé / CITEO</div>
            <div class="event-address">Évin-Malmaison (62)</div>
            <div class="event-registration-button">
              <a href="https://www.eventbrite.fr/e/billets-visite-du-centre-de-tri-de-symevad-58361038437" class="btn color-commerce"> Inscription </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'paris.jpg'%>);">
            <div class="event-date">
              04/04/2019
            </div>
            <div class="event-type salon">
              Visite
            </div>
            <div class="event-title">
              Food Safary "Paris"
            </div>
            <div class="event-title2">
              Venez découvrir les nouvelles tendances retail à Paris
            </div>
            <div class=event-organiser>
              Org: Agroé
            </div>
            <div class="event-address">
              Paris (FR)
            </div>
            <div class="event-registration-button">
              <a href="" class="btn color-commerce"> Inscription </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  <div class="adhesion" style="background-image: linear-gradient(to right,rgba(270,270,270,1),rgba(270,270,270,1),rgba(270,270,270,1), rgba(270,270,270,0.8)), url(<%= asset_path 'agroe.png'%>);">
    <h1> <strong> Nous rejoindre </strong></h1>
    <div class="adhesion-content">
      <div class="adhesion-title">
        Offre d'adhésion
      </div>
      <div class="service-offer">
        <div class="service-offer-content">
          <table>
            <thead>
              <tr>
                <th>Jeune Pousse</th>
                <th>TPE</th>
                <th>PME 1</th>
                <th>PME 2</th>
                <th>ETI</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                <td>< 10 salariés </td>
                <td>< 10 salariés</td>
                <td>< 50 salariés</td>
                <td>< 250 salariés </td>
                <td>> 250 salariés</td>
              </tr>
                <tr>
                <td>< 3 ans </td>
                <td>> 3 ans </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>100 &euro;</td>
                <td>200 &euro;</td>
                <td>300 &euro;</td>
                <td>600 &euro;</td>
                <td>1000 &euro;</td>
              </tr>
            </tfoot>
          </table>

        <h5><i class="fas fa-check"></i>Accès aux clubs RSE et Export d'Agroé.</h5>
        <h5><i class="fas fa-check"></i>Accès aux visites.</h5>
        <h5><i class="fas fa-check"></i>Accès à des webinaires exclusifs.</h5>
        <h5><i class="fas fa-check"></i>Accès à la plateforme de veille.</h5>
        <h5><i class="fas fa-check"></i>Accès aux prestations.</h5>
        <h5><i class="fas fa-check"></i>Accès aux compétences des autres adhérents.</h5>
        <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion</a>
        </div>
      </div>
    </div>
  </div>
  <div id="services">
    <h1><strong>Nos Prestations</strong></h1>
    <div class="services-content">
      <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-element">
          <div class="service-title"> Développement Durable</div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
          <div class="service-element-prestations">
            <ul>
              <li>
                Sensibilisation RSE </br>
                <span class="details">2h / 200 &euro;</span>
              </li>
              <li>
                Sensibilisation Ecoconception </br>
                <span class="details">2h / 200 &euro;</span>
              </li>
              <li>
                Formation RSE</br>
                <span class="details"> (2 * 1/2j) / 700 &euro;</span>
              </li>
              <li>
                Formation Ecoconception</br>
                <span class="details"> (2 * 1/2j) / 700 &euro;</span>
              </li>
              <li>
                Formation + Diagnostic RSE</br>
                <span class="details"> Nous consulter</span>
              </li>

              <li>
                Rédaction d'un DPEF</br>
                <span class="details"> Nous consulter </span>
              </li>
            </ul>
          </div>
          <div class="service-contact">
            <p> Contact</p>
            <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:'avatar-middle' %>
            <div class="service-contact-email">
            <p><a href="https://www.linkedin.com/in/julienmottet/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.linkedin.com/in/julienmottet/"><i class="fab fa-twitter"></i></a></p>
             <p> j.mottet@agroe.fr </p>
            </div>
          </div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-element">
          <div class="service-title"> Développement à l'export</div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
          <div class="service-element-prestations">
            <ul>
              <li>
                Point réglementation </br>
                <span class="details">Nous consulter</span>
              </li>
              <li>
                Visit Planner de salons </br>
                <span class="details">500 &euro;</span>
              </li>
              <li>
                Étude de marché</br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
                Stratégie Export</br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
                Suivi d'un groupe de travail</br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
                </br>
                <span class="details"></span></br>
              </li>
            </ul>
          </div>
          <div class="service-contact">
            <p> Contact</p>
            <%= image_tag 'karine.jpeg', class:'avatar-middle' %>
            <div class="service-contact-email">
              <p></p></br>
             <p> k.pietrzak@agroe.fr </p>
            </div>
          </div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-element">
          <div class="service-title"> Développement commerciale et digital </div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
          <div class="service-element-prestations">
            <ul>
              <li>
                Sensibilisation au digital </br>
                <span class="details"> 2h / 200 &euro;</span>
              </li>
              <li>
                Formation au digital </br>
                <span class="details">(2 * 1/2j) / 700 &euro;</span>
              </li>
              <li>
                Audit de votre siteweb</br>
                <span class="details"> 400 &euro;</span>
              </li>
              <li>
                Réalisation d'un siteweb</br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
                </br>
                <span class="details"> </span></br>
              </li>

              <li>
                </br>
                <span class="details"> </span></br>
              </li>
            </ul>
          </div>
          <div class="service-contact">
            <p> Contact</p>
            <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:'avatar-middle' %>
            <div class="service-contact-email">
            <p><a href="https://www.linkedin.com/in/julienmottet/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.linkedin.com/in/julienmottet/"><i class="fab fa-twitter"></i></a></p>
             <p> j.mottet@agroe.fr </p>
            </div>
          </div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-element">
          <div class="service-title"> Ingénierie financière et fiscale</div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
          <div class="service-element-prestations">
            <ul>
              <li>
                Ingérie financière </br>
                <span class="details">Nous consulter</span>
              </li>
              <li>
                Ingénierie fiscale </br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
                Evaluation de Business Model</br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
               Recherche de financement</br>
                <span class="details"> Nous consulter</span>
              </li>
              <li>
                </br>
                <span class="details"></span></br>
              </li>
              <li>
                </br>
                <span class="details"></span></br>
              </li>
            </ul>
          </div>
          <div class="service-contact">
            <p> Contact</p>
            <%= image_tag 'AT.jpeg', class:'avatar-middle' %>
            <div class="service-contact-email">
            <p><a href="https://www.linkedin.com/in/audrey-terlynck-674660119/"><i class="fab fa-linkedin"></i></a>
             <p> a.terlynck@agroe.fr </p>
            </div>
          </div>
          <div class="service-subscription">
            <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-agroe"> + de renseignements </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-container" style="background-image: linear-gradient(to right, rgba(270,270,270,0.1),rgba(270,270,270,1)), linear-gradient(to bottom, rgba(270,270,270,1), rgba(220,220,220,0.1)), url(<%= asset_path 'leroux1.png'%>);">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="banner-text-container">
          <div class="banner-text">
            <h2> Rejoignez une communauté </br> d'industriels de l'agroalimentaire <span class="text-success">engagés</span> et <span class="text-info">visionnaires</span>. </h2>
            <h4> Rencontres | Veille | Visites | Accompagnements </h4>
            <p><a href="https://doodle.com/poll/m2ihbq8fiafi3m4g" class="btn color-rse"> Découvrez nos services
            <i class="fas fa-arrow-alt-circle-right"></i></a></p>
            <div class="banner-figures">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="banner-img-container">
          <div class="banner-img" style="background-image: linear-gradient(rgba(50,50,50,0.4), rgba(50,50,50,0.3)),url(<%= asset_path 'photos-agroe3.png'%>);">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-container" style="background-image: linear-gradient(to right, rgba(220,220,220,1),rgba(270,270,270,1),rgba(270,270,270,1));">
  <h1><strong>Nos Services</strong></h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="service-element">
        <div class="service-title">
          <i class="fas fa-envelope-square fa-2x"></i>
          <h2><strong>L'AgroNoteRSE</strong></h2>
        </div>
        <div class="service-description">
          <p> Une newsletter bi-mensuelle proposant des outils, une veille RSE et le planning des futurs évènements</p>
          <p><a href="https://my.sendinblue.com/users/subscribe/js_id/2w9ek/id/6" class="btn color-rse"> Abonnez-vous à l'agroNoteRSE </a></p>
          <p><a href="http://sh1.sendinblue.com/nt8qz0jfsc.html?t=1548625978" class="petit-lien-black"> Télécharger l'AgroNoteRSE #29 </a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-element">
        <div class="service-title">
          <i class="fas fa-video fa-2x"></i>
          <h2><strong>Webinaires</strong></h2>
        </div>
        <div class="service-description">
          <p> Nous savons que votre temps est précieux. Ecouter des experts et des retours d'expériences d'entreprises tout en restant au bureau.</p>
          <p><span class="indisponible">Date du prochain wébinaire n'est encore connue. </span></p>
          <p><a href="http://sh1.sendinblue.com/nt8qz0jfsc.html?t=1548625978" class="petit-lien-black">   Réécouter le dernier wébinaire</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-element">
        <div class="service-title">
          <i class="fas fa-microphone fa-2x"></i>
          <h2><strong>Les AgroClubPodcast</strong></h2>
        </div>
        <div class="service-description">
          <p> Tout nos contenus audios en un seul lien : des formations, des interviews et des prises de parole d'experts </p>
          <p><a href="http://sh1.sendinblue.com/nt8qz0jfsc.html?t=1548625978" class="petit-lien-black">   Découvrir les podcasts</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-element">
        <div class="service-title">
          <i class="fas fa-users fa-2x"></i>
          <h2><strong>Les rencontres de l'AgroClubRSE</strong></h2>
        </div>
        <div class="service-description">
          <p> 4 fois par an, les adhérents se retrouvent dans une entreprise pour fair une visite, aborder une thématique RSE et travailler ensemble pour améliorer les services du club. </p>
           <a href="https://www.eventbrite.fr/e/billets-agroclubrse-6-sensibilisation-des-equipes-a-la-consommation-energetique-et-evaluation-des-impacts-55376869708" class="petit-lien-black"> Prochaine rencontre </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-element">
        <div class="service-title">
          <i class="fas fa-book fa-2x"></i>
          <h2><strong>Toutes les ressources RSE à un seul endroit</strong></h2>
        </div>
        <div class="service-description">
          <p> L'information RSE est compliquée à trouver. Nous proposons donc à nos adhérents un accès à l'ensemble des ressources proposées dans les agroNoteRSE depuis la #1.
          <p><span class="indisponible">Bientôt ouvert </span><p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="service-element">
        <div class="service-title">
          <i class="fas fa-user-tie fa-2x"></i>
          <h2><strong>Visite de salon</strong></h2>
        </div>
        <div class="service-description">
          <p> Agroé vous permet d'exposer dans les plus grands salons à prix préférentiel.
          <p><span class="indisponible"> s'inscrire au prochain salon </span><p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="processus-container" style="background-image: linear-gradient(to right,rgba(270,270,270,1),rgba(270,270,270,1),rgba(270,270,270,1), rgba(270,270,270,0.8)), url(<%= asset_path 'agroe.png'%>);">
  <h2> Par où commencer ? </h2>
  <div class="card-process">
    <div class="card-process-header">
      ÉTAPE 1/3
    </div>
    <div class="card-process-body">
      <h5 class="card-process-title">Échangeons par téléphonr 15 minutes</h5>
      <p class="card-process-text">Pour bien travailler avec vous, nous avons besoin de vous connaître. Ainsi ce premier échange téléphone nous permet d'identifier vos besoins et de vous présenter rapidement nos activités.</p>
      <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe">Télécharger la fiche d'adhésion</a>
    </div>
  </div>
  <i class="fas fa-angle-double-down"></i>
  <div class="card-process">
    <div class="card-process-header">
      ÉTAPE 2/3
    </div>
    <div class="card-process-body">
      <h5 class="card-process-title">Testez nos services</h5>
      <p class="card-process-text">Beaucoup de nos services sont gratuits. N'hésitez pas à vous inscrire à nos évènements. Pour ne pas en rater, inscrivez vous à l'agronoterse </p>
      <a href="#" class="btn btn-primary">Inscription à l'AgroNoteRSE</a>
    </div>
  </div>
  <i class="fas fa-angle-double-down"></i>
  <div class="card-process">
    <div class="card-process-header">
      ÉTAPE 3/3
    </div>
    <div class="card-process-body">
      <h5 class="card-process-title">Investissez-vous dans la communauté</h5>
      <p class="card-process-text">La plus grande source de valeur vient des échanges avec d'autres entreprises agroalimentaires. L'adhésion donne l'accès aux rencontres de l'agroclub, à des wébinaires privés entre les adhérents ainsi qu'un accès facile à l'ensemble des contenus produits par Agroé</p>
      <a href="#" class="btn btn-primary">Adhérer</a>
    </div>
  </div>
</div>
<div class="questions-container">
  <h2>Encore des questions ? </h2>

  <h4>Échangeons sur les réseaux sociaux</h4>
    <div class="reseaux">
              <%= link_to '<i class="fab fa-twitter-square fa-2x"></i>'.html_safe, 'https://twitter.com/agroe_i' %>
              <%= link_to '<i class="fab fa-linkedin fa-2x"></i>'.html_safe, 'https://www.linkedin.com/company/18518876/admin/' %>
              <%= link_to '<i class="fab fa-facebook fa-2x"></i>'.html_safe, 'https://www.facebook.com/poleagroe/' %>
      </div>
   <h4>Téléphone et email </h4>
   <p> 03.27.70.15.80 </p>
   <p> contact@agroe.fr </p>
</div>




  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

