<div id="banner" style="background-image: linear-gradient(to bottom, rgba(270,270,270,1) 60%, rgba(270,270,270,1) 100%), url(<%= asset_path ''%>);">
  <div id="banner-content">
    <%= image_tag 'agroe.png' %>
    <h2> Une communauté d'acteurs agroalimentaires </br><span class="engage"> engagées </span> et <span class="visionnary">visionnaires</span>. </h2>
    <h4> RSE | Digital | Commerce </h4>
    <a href="https://www.helloasso.com/associations/agroe/adhesions/adhesion-agroe" class="btn btn-register"> Adhérer</a>
</div>



<div id="events">
  <h3><strong>Nos Évènements </strong></h3>
  <div class="events-content">
    <div class="row">
      <% evenements = @events.order(:date) %>
      <% evenements.each do |e| %>
        <%= render 'shared/event_card', event: e %>
      <% end %>
    </div>
  </div>
</div>

<div id="partenaires">
  <h3><strong> Nos adhérents </strong></h3>
    <%= image_tag 'fizzy.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'daudruy.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'coopfrance.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'fdesprez.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'castelain.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'CGF_Charcuterie.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_ADT.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_arras.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'fruits_rouges.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'assemandeprez.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'davigel.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'fleurymichon.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'holder.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'Ingredia.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'jcdavid.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'lepetitcuisinier.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'lucullus.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'Marche_phalempin.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'novial.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'portdunkerque.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'tbvergers.gif', class:'logos-soutiens-resize' %>
</div>


<div id="actu">
  <h3><strong> Nos publications </strong></h3>
  <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@poledexcellenceagroe","postsPerLine":1,"limit":5,"picture":"small","fields":["description"],"ratio":"square"}})</script>
    <a href="https://medium.com/@poledexcellenceagroe">+ de publications...</a>
</div>


<div id="adhesion-agroe">
  <h3><strong> Offre d'adhésion </strong></h3>
  <div class="join">
    <h5><i class="fas fa-check"></i>Les Évènements à des tarifs préférentiels.</h5>
    <h5><i class="fas fa-check"></i> Les newsletters thématiques (AgroNoteRSE...)</h5>
      <h5> <i class="fas fa-check"></i> Accès aux services experts des différents clubs (RSE, Retail...).</h5>
      <h5> <i class="fas fa-check"></i> 1 invitation à un RDV de l'AgroClubRSE pour rencontrer la communauté.</h5>
    </br>
      <a href="https://www.helloasso.com/associations/agroe/adhesions/adhesion-agroe" class="btn btn-register"> Adhérer</a>
    </div>
</div>





<div id="contact-info">
<h3><strong> Contacts </strong> </h3>
 <h5> <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a> - <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
</h5>


</div>


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="text/javascript">
  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>

