<div class="banner">
  <div class="banner-content">
    <h2>Spécialiste de la <strong>RSE</strong> et du <strong> Digital</strong></h2>
    <h2>Au service des entreprises <strong>agroalimentaires</strong> des Hauts-de-France</h2>
    <%= link_to 'Télécharger notre guide "Débuter en RSE!" (gratuit)', root_path , class:"btn btn-success btn-guide" %>
</div>
</div>

<div class="social-proof-container">
  <h4> Ils nous font confiance </h4>
  <div class="social-proof-list-entreprises">
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>
    <%= image_tag 'https://pbs.twimg.com/profile_images/781066285207683072/6TNbm9Gs_400x400.jpg', class:'img-thumbnail img-thumb-size' %>
    <%= image_tag 'https://upload.wikimedia.org/wikipedia/fr/thumb/f/fc/Groupe_Holder_Logo.svg/1003px-Groupe_Holder_Logo.svg.png', class:'img-thumbnail img-thumb-size' %>    <%= image_tag 'http://www.academie-gourmande.com/wp-content/uploads/logo_davigel.jpg', class:'img-thumbnail img-thumb-size' %>
  </div>
  <p> Découvrir les autres membres du club... </p>
</div>

<div class="home-team-container">
  <h4> Une équipe à votre disposition </h4>
  <div class="home-team-list">
    <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:'img-home-team' %>
    <%= image_tag 'http://www.agroe.fr/img/photo-fabrice-hoschede.jpg', class:'img-home-team' %>
    <%= image_tag 'http://www.agroe.fr/img/photo-delphine-josset.jpg', class:'img-home-team' %>
  </div>
</div>


