<% if user_signed_in? %>
  <%= render '/shared/dashboard', user: current_user %>
<% else %>
  <div id="banner" style="background-image: linear-gradient(to bottom, rgba(50,50,50,0.7) 60%, rgba(50,50,50,0.3) 100%), url(<%= image_path 'planet.jpg' %>;">
    <div id="banner-content">
      <h1> Tous les services pour les entreprises agroalimentaires <span class="engage"> engagées</span></h1>
      <h2> Networking - Veille - Financement de projets RSE - Audit RSE - Accompagnement Stratégique </h2>

    </div>
  </div>


<% participants = ['3monts.gif','fizzy.png','daudruy.png','coopfrance.png','fdesprez.png',
                   'castelain.png','CGF_Charcuterie.png','odeli.png','fruits_rouges.jpg',
                   'assemandeprez.png','davigel.png','brasserie_legendes.png','fleurymichon.png','groupe_holder.png',
                   'Ingredia.png','jcdavid.png','flo58.png','lepetitcuisinier.png','lucullus.png',
                   'Marche_phalempin.png','portdunkerque.png','CHOCMOD.png','tbvergers.gif','biscuit_mad.jpg','DES_HOMMES_ET_DES_BOEUFS.png','CUEILLETTE_EN_BAIE_DE_SOMME.png','DISTILLERIE_D_HAUTEFEUILLE.png','FLEUR_DE_SEL_DES_2_CAPS.jpg','FLORENSUC.png','FOREO.png','FORT_ET_VERT.png','FOURNIL_DES_SAVEURS.jpg','FRUITSROUGES.jpg','GRAINE_DE_CHOC.png','IDEES_DE_SAISON.png','JEAN_BOUTEILLE.jpg','JOLIE_CONFITURE.png','LA_PRESERVERIE.png','LE_PATUREUR.png','MILLY_MACARONS.png','SOUPISSIME.jpg','norabio.jpg','desmazieres.jpg'] %>

    <div id="partenaires">
      <h3> <span class="count-participants"><%= participants.count %> </span> Entreprises Agro ont déjà participées aux évènements Agroé en 2019. </h3>
<% participants.each do |participant| %>
<%= image_tag participant, alt: '', class:'logos-soutiens-resize' %>
<% end %>
        <p>
        <a href="#events" class="btn engage-back"> Comment les rencontrer ? </a>
      </p>
    </div>

  <% participants_2 = ['bio_demain.png','croc_la_vie.png','coeur_de_picardie.jpg', 'NOVIAL.png'] %>




    <div id="events">
      <div class="events-content">
        <h3> Nos prochains Évènements d'Agroé</h3>
        <% @events.where('date > ?', Date.today.to_s).order(:date).first(5).each do |e| %>
          <%= render 'shared/event_card2', event: e %>
        <% end %>
        <div class="bottom-section">
          <%= link_to "découvrir nos anciens évènements", events_path(), class: 'btn' %>
        </div>
      </div>
      <div class="events-image-container">
        <%= image_tag 'recap.png' %>
      </div>
    </div>


     <div id="contact-info-container">
      <h5> Comment s'inscrire aux évènements ? </br>Pourquoi adhérer ? </br> Comment profiter d'un financement ? </h5>
      <h3> L'équipe d'Agroé est là pour répondre à toutes vos questions ! </h3>
        <div id="contact-info">
          <div id="contact-info-tel">
              <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a>
          </div>
          <div id="contact-info-email">
              <a href="mailto:contact@agroe.fr", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
          </div>
        <%= render '/shared/team' %>
        </div>
      </div>

    <div id="partenaires-instit">
      <h3><strong> Ils nous soutiennent </strong></h3>
        <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize' %>
        <%= image_tag 'logo_arras.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize' %>
        <%= image_tag 'Interreg_ADT.png', class:'logos-soutiens-resize' %>
    </div>
  <% end %>








<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="text/javascript">
  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>

      <script>
        window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';

        window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

        window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

        window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




        window.translation = {
          common: {
            selectedList: '{quantity} liste sélectionnée',
            selectedLists: '{quantity} listes sélectionnées'
          }
        };

        var AUTOHIDE = Boolean(1);
      </script>
      <script src="https://sibforms.com/forms/end-form/build/main.js">
      </script>
      <script>
        window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';

        window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

        window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

        window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




        window.translation = {
          common: {
            selectedList: '{quantity} liste sélectionnée',
            selectedLists: '{quantity} listes sélectionnées'
          }
        };

        var AUTOHIDE = Boolean(1);
      </script>
      <script src="https://sibforms.com/forms/end-form/build/main.js">
      </script>
