<!doctype html>
  <div class="banner-container" style="background-image: linear-gradient(rgba(270,270,270,1), rgba(250,250,250,0.5)), url(<%= asset_path 'leroux1.png'%>);">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="banner-text-container">
          <div class="banner-text">
            <h2> Rejoignez une communauté </br> d'industriels de l'agroalimentaire engagés et visionnaires. </h2>
            <h4> Évènements | Veille | Formation | Accompagnements </h4>
            <p><a href="https://doodle.com/poll/m2ihbq8fiafi3m4g" class="btn color-rse"> Découvrez nos services
            <i class="fas fa-arrow-alt-circle-right"></i></a></p>
            <div>
              <%= link_to '<i class="fab fa-twitter-square fa"></i>'.html_safe, 'https://twitter.com/agroe_i' %>
              <%= link_to '<i class="fab fa-linkedin fa"></i>'.html_safe, 'https://www.linkedin.com/company/18518876/admin/' %>
              <%= link_to '<i class="fab fa-facebook fa"></i>'.html_safe, 'https://www.facebook.com/poleagroe/' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="banner-img-container">
          <div class="banner-img" style="background-image: linear-gradient(rgba(70,70,70,0.2), rgba(70,70,70,0.2)),url(<%= asset_path 'travaillerse.jpg'%>);">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

