<div class="banner" style="background-image: linear-gradient(to bottom, rgba(270,270,270,0.8) 60%, rgba(270,270,270,0.8) 100%), url(<%= asset_path ''%>);">
  <div class="banner-content">
    <%= image_tag 'agroe.png' %>
    <h2> Accompagne les entreprises agroalimentaires </br><span class="engage"> engagées </span> et <span class="visionnary">visionnaires</span>. </h2>
    <h4> Développement Durable | Digital | Export | Ingénierie de Projets </h4>
    <p>
      <a href="#services" class="btn color-agroe"> Nos services
      <i class="fas fa-arrow-alt-circle-right"></i></a>
    </p>
  </div>
</div>
<div id="events">
  <h1><strong>Prochains Évènements</strong></h1>
  <div class="containers-description">
     <p>Tout au long de l'année, Agroé propose aux entreprises de la région des visites, clubs, sorties, salons. Pour ne rien rater vous pouvez nous suivre sur <a href="LinkedIn"> LinkedIn</a> ou vous abonner à notre <a href="https://lc.cx/agronoterse">Newsletter.</a></p>
  </div>
  <div class="events-content">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'courtrai.jpg'%>);">
          <div class="event-date">18/03/2019</div>
          <div class="event-type salon">Salon</div>
          <div class="event-title">Marché du goût</div>
          <div class=event-organiser>Org: Interreg</div>
          <div class="event-address">Courtray (BEL)</div>
          <div class="event-registration-button">
            <a href="http://sh1.sendinblue.com/1ya48ztl4c.html?t=1548339563" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'symevad.png'%>);">
          <div class="event-date">04/04/2019</div>
          <div class="event-type club">Visite</div>
          <div class="event-title">Centre de tri du SYMEVAD</div>
          <div class="event-title2">
              Dans le cadre de  ses actions en faveur de l'écoconception, Agroé propose la visite d'un centre de tri dernière génération.
          </div>
          <div class=event-organiser>Org: Agroé / CITEO</div>
          <div class="event-address">Évin-Malmaison (62)</div>
          <div class="event-registration-button">
            <a href="https://www.eventbrite.fr/e/billets-visite-du-centre-de-tri-de-symevad-58361038437" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= asset_path 'paris.jpg'%>);">
          <div class="event-date">04/04/2019</div>
          <div class="event-type salon">Visite</div>
          <div class="event-title">Food Safary "Paris"</div>
          <div class="event-title2">Venez découvrir les nouvelles tendances retail à Paris</div>
          <div class=event-organiser>Org: Agroé</div>
          <div class="event-address">Paris (FR)</div>
          <div class="event-registration-button">
            <a href="" class="btn color-commerce"> Inscription </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="team-container">
  <h1><strong> Une équipe à votre écoute </strong></h1>
  <div class="team-elements">
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-fabrice-hoschede.jpg', class:' avatar-big' %>
      <div class="team-name">
        Fabrice Hoschede
      </div>
      <div class="team-job">
        Délégué Général
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/fabrice-hoschede-88207852/' %>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-delphine-josset.jpg', class:' avatar-big' %>
      <div class="team-name">
        Delphine Josset
      </div>
      <div class="team-job">
        Assistante de direction
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/delphine-josset-523225173/' %>
    </div>
  </div>
  <div class="team-elements">
    <div class="team-element">
      <%= image_tag 'AT.jpg', class:' avatar-big' %>
      <div class="team-name">
        Audrey Terlynck
      </div>
      <div class="team-job">
        Chef de Projet </br> Chargée de développement
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/audrey-terlynck-674660119/' %>
    </div>
    <div class="team-element">
      <%= image_tag 'http://www.agroe.fr/img/photo-julien-mottet.jpg', class:' avatar-big' %>
      <div class="team-name">
        Julien Mottet
      </div>
      <div class="team-job">
        Chargé de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/julienmottet/' %>
            <%= link_to '<i class="fab fa-twitter-square"></i>'.html_safe, 'https://twitter.com/JuMottet' %>
    </div>
    <div class="team-element">
      <%= image_tag 'karine.jpg', class:' avatar-big' %>
      <div class="team-name">
        Karine Pietrzak
      </div>
      <div class="team-job">
        Chargée de mission
      </div>
      <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/karine-pietrzak-84aba6131/' %>
    </div>
  </div>
</div>
<div id="info-contact">
  <h1><strong> Un besoin ?</strong> </h1>
  <div class="info-contact-content">
  <h3><strong><a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a></strong> </h3><a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
  </div>
</div>


<div id="services" style="background-image: linear-gradient(to right,rgba(270,270,270,0.9),rgba(270,270,270,0.9),rgba(270,270,270,0.9), rgba(270,270,270,0.9)), url(<%= asset_path 'bg_logos.png'%>);">
  <h1><strong>Nos Prestations</strong></h1>
  <div class="containers-description">
   <p>Agroé propose, en plus de ses activités collectives, de la prestation individualisée à destinations des entreprises, des institutions et des structures de formation. Contactez les référents de chaque thématique pour avoir des détails ou un devis sur un service. </p>
  </div>
  <div class="services-content">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading service-button-bg" role="tab" id="headingThree" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'planet.jpg'%>);">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="service-button">Développement Durable</span>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="service-element-prestations">
              <div class="service-contact">
                 <p>
                  contact : </br>
                  <strong> j.mottet@agroe.fr </strong></br>
                  <strong> 03.27.70.15.80 </strong>
                </p>
              </div>
              <ul>
                <li>
                  Sensibilisation (2h) / Formation (8h)  à la RSE et/ou à l'écoconception </br>
                </li>
                <li>
                  Diagnostic RSE </br>
                </li>
                <li>
                  Aide à la rédaction d'une Déclaration de Performece Extra-Financière</br>
                </li>
                <li>
                  Accompagnement dans les échanges avec les parties prenantes.
                </br>
                </li>
                <li>
                  <span class="commencer-formation-rse">
                    Former vous à la RSE dès aujourd'hui.</br></br>
                    <a href="https://lc.cx/agronoterse">Abonnez vous à l'AgroNoteRSE</a>.</br></br>
                    C'est gratuit et sans engagement.
                  </span>
                </br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading service-button-bg" role="tab" id="headingTwo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'export2.jpg'%>);">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="service-button">Export</span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div class="service-element-prestations">
              <div class="service-contact">
                 <p>
                  contact : </br>
                  <strong> k.pietrzak@agroe.fr </strong></br>
                  <strong> 03.27.70.15.80 </strong>
                </p>
            </div>
              <ul>
                <li>
                  Visit Planner de salons internationaux </br>
                </li>
                <li>
                  Étude de marché</br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading service-button-bg" role="tab" id="headingFour" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'digital.jpg'%>);">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFOur">
              <span class="service-button">Stratégie Digital </span>
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <div class="service-element-prestations">
              <div class="service-contact">
                 <p>
                  contact : </br>
                  <strong> j.mottet@agroe.fr </strong></br>
                  <strong> 03.27.70.15.80 </strong>
                </p>
                </div>
              <ul>
                <li>
                  Développer une audience sur les réseaux sociaux </br>
                </li>
                <li>
                  Optimiser votre site pour mieux engager les visiteurs </br>
                </li>
                <li>
                  Analyser le profil sociologique de vos fans pour leur parler plus efficacement</br>
                </li>
                <li>
                  testez un nouveau concept sur les consommateurs avant même de créer le produit grâce au numérique. </br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading  service-button-bg" role="tab" id="headingOne" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'ing.jpg'%>);">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="service-button">Ingénierie de Projets</span>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="service-element-prestations">
              <div class="service-contact">
                 <p>
                  contacts : </br>
                  <strong> k.pietrzak@agroe.fr </strong></br>
                  <strong> 03.27.70.15.80 </strong>
                  </br>
                </p>
            </div>
              <ul>
                <li>
                  Business Model</br>
                </li>
                <li>
                  Étude filière </br>
                </li>
                <li>
                  Actions Collectives</br>
                </li>
                <li>
                  Recherche de financement</br>
                </li>
                <li>
                  Montage de dossier de subvention</br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="adhesion-agroe">
  <div class="adhesion-container">
    <h1> <strong> Accédez à nos services</strong></h1>
    <div class="adhesion-content">
      <div class="adhesion-title">
        Vous êtes ?
      </div>
      <!-- using href attribue of a tag to define tab content that based on content id-->
      <ul class="nav nav-tabs service-offer nav nav-pills" id="myNavTabs">
        <li><a href="#navtabs1" data-toggle="tab"><strong>Entreprises</strong></a></li>
        <li><a href="#navtabs2" data-toggle="tab"><strong>Institutionnels</strong></a></li>
        <li><a href="#navtabs3" data-toggle="tab"><strong>Ecoles / Universités</strong></a></li>
        <li><a href="#navtabs4" data-toggle="tab"><strong>Prestataires</strong></a></li>
        <li class="active"><a href="#navtabs0" data-toggle="tab"><strong>X</strong></a></li>
      </ul>

      <!-- using fade to define fade effect -->
      <!-- using active class to define the first actived tab and content -->

      <div class="tab-content service-offer-content">
         <div class="tab-pane fade in" id="navtabs0">
          Choisissez une option.
         </div>
        <div class="tab-pane fade in" id="navtabs1">
          <ul class="nav nav-tabs service-offer nav nav-pills" id="myNavTabs">
            <li><a href="#navtabs5" data-toggle="tab"><strong>Jeune Pousse</strong></br>< 3 ans </a></li>
            <li><a href="#navtabs6" data-toggle="tab"><strong>TPE</strong></br> < 20</a></li>
            <li><a href="#navtabs7" data-toggle="tab"><strong>PME</strong></br> < 50</a></li>
            <li><a href="#navtabs8" data-toggle="tab"><strong>PME</strong></br> < 250</a></li>
            <li><a href="#navtabs9" data-toggle="tab"><strong>ETI / GG</strong></br> > 250</a></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="navtabs2">
          <h4> Adhésion Agroé "Institutionnels" </h4>
          <h5><i class="fas fa-check"></i>Création de Partenariats</h5>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion</a>
        </div>
        <div class="tab-pane fade" id="navtabs3">
          <h4> Adhésion Agroé "Ecoles / Universités" </h4>
          <h5><i class="fas fa-check"></i>Création de Partenariats</h5>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion</a>
          </div>
        <div class="tab-pane fade" id="navtabs4">
          <h4> Adhésion Agroé "Prestataires" </h4>
          <h5><i class="fas fa-check"></i>Création de Partenariats</h5>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion Agroé</a>
        </div>
        <div class="tab-pane fade" id="navtabs5">
          <h4> Adhésion Agroé + AgroClubRSE "Jeune Pousse"</h4>
          <h5> <strong>pour 1 personne :</strong> </h5></br>
          <%= render 'shared/services_agroclubrse' %>
          <h2>100 &euro;</h2>
          <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion à l'AgroClubRSE</a>
          </br>
          <h4>ou</h4>
          </br>
          <h4> Adhésion Agroé "Jeune Pousse" </h4>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion Agroé</a>

        </div>
        <div class="tab-pane fade" id="navtabs6">
          <h4> Adhésion Agroé + AgroClubRSE "TPE"</h4>
          <h5> <strong>pour 1 personne :</strong> </h5></br>
          <%= render 'shared/services_agroclubrse' %>
          <h2>200 &euro;</h2>
          <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion à l'AgroClubRSE</a>
                  </br>
          <h4>ou</h4>
          </br>
          <h4> Adhésion Agroé "TPE" </h4>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion Agroé</a>
        </div>
        <div class="tab-pane fade" id="navtabs7">
          <h4> Adhésion Agroé + AgroClubRSE "PME < 50" </h4>
          <h5> <strong>pour 2 personne :</strong></h5></br>
          <%= render 'shared/services_agroclubrse' %>
          <h2>300 &euro;</h2>
          <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion à l'AgroClubRSE</a>
        </br>
          <h4>ou</h4>
          </br>
          <h4> Adhésion Agroé "PME < 50" </h4>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion Agroé</a>
          </div>
        <div class="tab-pane fade" id="navtabs8">
          <h4> Adhésion Agroé + AgroClubRSE "PME < 250"</h4>
          <h5> <strong>pour 3 personne :</strong> </h5></br>
          <%= render 'shared/services_agroclubrse' %>
          <h2>600 &euro;</h2>
          <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion à l'AgroClubRSE</a>
          </br>
          <h4>ou</h4>
          </br>
          <h4> Adhésion Agroé "PME < 250" </h4>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion Agroé</a>
        </div>
        <div class="tab-pane fade" id="navtabs9">
          <h4> Adhésion Agroé + AgroClubRSE "ETI / GG"</h4>
          <h5> <strong> Pour tous les employés de l'entreprise:</strong> </h5></br>
          <%= render 'shared/services_agroclubrse' %>
          <h2>1 000 &euro;</h2>
          <a href="https://res.cloudinary.com/julienmottet/image/upload/v1549470116/Adh%C3%A9sion_2019_AgroClubRSE-Fev2019.pdf" class="btn color-agroe"> Télécharger la fiche d'adhésion à l'AgroClubRSE</a>
          </br>
          <h4>ou</h4>
          </br>
          <h4> Adhésion Agroé ETI / GG </h4>
          <h5><i class="fas fa-check"></i>Accès aux prestations de service d'Agroé</h5>
          <h4>100 &euro;</h4>
          <a href="mailto:contact@agroe.fr.com" class="btn color-agroe"> Demander la fiche d'adhésion Agroé</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="president-container">
  <h1><strong>Le mot du président</strong></h1>
  <div class="president-elements">
      <div class="president-discours">
        <div class="president-profil-container">
            <%= image_tag 'http://www.agroe.fr/img/michel-lienard.jpg', class:' avatar-medium' %>
          <p>
            Michel Liénard, Président d'Agroé
          </p>
        </div>
        <div class="president-discours-container">
          <p>
            "Depuis sa création en 2010, <span class="highlight">Agroé accompagne les PME agroalimentaires dans leur développement</span> et leur propose d’anticiper les grands enjeux de demain.
          </p>
          <p>
            Agroé veille également depuis ses débuts à <span class="highlight">créer une dynamique collective régionale</span> en collaborant avec ses nombreux partenaires experts régionaux.
          </p>
          <p>
            Ma vision d’entrepreneur est en effet le partage et le recours aux compétences de tous pour faire naître des projets ambitieux. C’est pourquoi, je suis très heureux d'être président d’Agroé, bien collectif au service de la filière agroalimentaire, secteur d’excellence régional."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="partenaires">
  <h1><strong>Nos soutiens</strong></h1>
    <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_ADT.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_arras.png', class:'logos-soutiens-resize' %>
    <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize' %>
</div>
<div class="questions-container">
<h4>Vous n'avez pas trouver l'information que vous cherchiez ? </h4>
 <h5> Échangeons sur les réseaux
  <span class="reseaux">
    <span class="reseaux-link">
       <%= link_to '<i class="fab fa-twitter-square fa-2x"></i>'.html_safe, 'https://twitter.com/agroe_i' %>
    </span>
    <span class="reseaux-link">
      <%= link_to '<i class="fab fa-linkedin fa-2x"></i>'.html_safe, 'https://www.linkedin.com/company/18518876/admin/' %>
    </span>

    <span class="reseaux-link">
      <%= link_to '<i class="fab fa-facebook fa-2x"></i>'.html_safe, 'https://www.facebook.com/poleagroe/' %>
    </span>


    </span> <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a> - <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a> </h5>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="text/javascript">
  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>

