<div class="banner">
  <div class="banner-content">
    <h2><strong>RSE</strong> et <strong>Digital</strong></h2>
    <h2>dans les entreprises <strong>agroalimentaires</strong></h2>
    <h2>des Hauts-de-France</h2>
    <%= link_to "Télécharger notre guide gratuit sur la rse", root_path , class:"btn btn-success btn-lg" %>
</div>
</div>

<div class="social-proof">
  <h4> Ils nous font confiance </h4>
  <div class="social-proof-list-entreprises">
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>
  </div>
  <p> Découvrir les autres membres du club... </p>
</div>

<div class="home-team">
  <h4> Une équipe à votre disposition </h4>
  <div class="home-team-list">
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-home-team' %>
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-home-team' %>
    <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-home-team' %>
  </div>
  <p> Découvrir les autres membres du club... </p>
</div>


