<% if user_signed_in? %>
  <%= render '/shared/dashboard', user: current_user %>
<% else %>
    <div id="banner" style="background-image: linear-gradient(to bottom, rgba(270,270,270,1) 60%, rgba(270,270,270,1) 100%), url(<%= asset_path ''%>);">
      <div id="banner-content">
        <%= image_tag 'agroe.png' %>
        <h1>
          <span class="visionnary">Export</span>, <span class="engage">RSE</span> et <span class="experts"> Retail </span></br>
          pour les entreprises agroalimentaires des Hauts-de-France
       </h1>
      </div>
    </div>

    <div id="events">
      <div class="events-content">
        <h3>Prochains Évènements</h3>
          <% @events.where('date > ?', Date.today.to_s).order(:date).first(5).each do |e| %>
            <%= render 'shared/event_card2', event: e %>
          <% end %>
          <%= link_to "+ d'évènements", events_path(), class: 'btn btn-link' %>
      </div>
    </div>

    <div id="partenaires">
      <h3> Ils s'impliquent</h3>
        <%= image_tag 'fizzy.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'daudruy.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'coopfrance.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'fdesprez.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'castelain.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'CGF_Charcuterie.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize hidden' %>
        <%= image_tag 'odeli.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize hidden' %>
        <%= image_tag 'fruits_rouges.jpg', class:'logos-soutiens-resize' %>
        <%= image_tag 'assemandeprez.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'davigel.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'fleurymichon.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'holder.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'Ingredia.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'jcdavid.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'lepetitcuisinier.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'lucullus.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'Marche_phalempin.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'novial.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'portdunkerque.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'tbvergers.gif', class:'logos-soutiens-resize' %>
        <%= image_tag 'biscuit_mad.jpg', class:'logos-soutiens-resize' %>
    </div>

<div id="garde-contact">
  <h3>Newsletter</h3>
  <%= render '/shared/form_email2' %>
</div>

<div id="adhesion-agroe">
      <h3>Nous rejoindre</h3>
      <div class="adhesion-content">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="join offer1">
              <div class="imgs-wall">
                <%= image_tag 'Heineken-group-mini.jpg'%>
              </div>
              <h4><strong>Adhésion Agroé</strong></h4>
              <p>Pour testez nos services et rencontrer la communauté.</p>
              100 &#8364
              <div class="offer-buttons">
                <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559853153/bulletin-adhesion_Agroe_06062019.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                 <p>ou</p>
                <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroe" class="btn btn-default"> Adhésion en ligne </a>

              </div>
              <h5><i class="fas fa-check"></i> Accès aux évènements hors "AgroClub" </h5>
              <h5><i class="fas fa-check"></i> 1 an d'abonnement à l'AgroNote. </br> <span class= minilien><a href="http://sh1.sendinblue.com/7rd6dn0jfsc.html?t=1557864962">-> exemplaire test <-</a></span> </h5>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="join offer2">
              <div class="imgs-wall">
                <%= image_tag 'agroe_club_davigel.JPG'%>
              </div>
              <h4><strong>Offre "Agro Club"</strong></h4>
              <p>Pour échanger plus efficacement et monter des projets.</p>
                  à partir de 100 &#8364
              <div class="offer-buttons">
                         <a href="https://res.cloudinary.com/julienmottet/image/upload/v1559370042/bulletin-adhesion_AgroClub.pdf" class="btn btn-register"> Télécharger la fiche d'adhésion </a>
                         <p>ou</p>
                <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1" class="btn btn-default"> Adhésion en ligne </a>


              </div>
              <h5><i class="fas fa-check"></i> Tous les évènements pendant 1 an.</h5>
              <h5><i class="fas fa-check"></i> Toutes la veille sur nos thématiques rassemblées et triées par Agroé.</h5>
              <h5><i class="fas fa-check"></i> Les coordonnées des adhérents avec leurs compétences associées. </h5>
              <h5><i class="fas fa-check"></i> Accès à la liste email et au WhatsApp. </h5>
              <h5><i class="fas fa-check"></i> Accès à l'accompagnement dans le montage de dossiers de financement de projets collectifs. </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-info">
      <h3>Contacts</h3>
       <div id="contact-info-container">
        <div class="row">
          <div class="col-md-6">
            <div id="contact-info-tel">
              <a href="tel:+3332770158"><i class="fas fa-phone"></i> 03.27.70.15.80 </a>
            </div>
          </div>
          <div class="col-md-6">
            <div id="contact-info-email">
              <a href="mailto:contact@agroe.fr.com", class=""><i class="fas fa-envelope"></i> contact@agroe.fr </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="partenaires">
      <h3><strong> Ils nous soutiennent </strong></h3>
        <%= image_tag 'logo_hdf.jpg', class:'logos-soutiens-resize' %>
        <%= image_tag 'logo_arras.png', class:'logos-soutiens-resize' %>
        <%= image_tag 'logo_cac.jpg', class:'logos-soutiens-resize' %>
        <%= image_tag 'Interreg_ADT.png', class:'logos-soutiens-resize' %>
    </div>
  <% end %>








<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="text/javascript">
  $('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>

      <script>
        window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';

        window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

        window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

        window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




        window.translation = {
          common: {
            selectedList: '{quantity} liste sélectionnée',
            selectedLists: '{quantity} listes sélectionnées'
          }
        };

        var AUTOHIDE = Boolean(1);
      </script>
      <script src="https://sibforms.com/forms/end-form/build/main.js">
      </script>
      <script>
        window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';

        window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

        window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

        window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




        window.translation = {
          common: {
            selectedList: '{quantity} liste sélectionnée',
            selectedLists: '{quantity} listes sélectionnées'
          }
        };

        var AUTOHIDE = Boolean(1);
      </script>
      <script src="https://sibforms.com/forms/end-form/build/main.js">
      </script>
