<!doctype html>
<div class="temp-banner2">
  <div class="temp-banner-content2">
    <h1>Agroé</h1>
    <h4> Au service des entreprises <strong>agroalimentaires</strong> des Hauts-de-France... </h4>
  </div>
  <div class="btn-position2">
        <%= link_to "Télécharger notre offre de service 2019", root_path, class:'color-offre' %>
  </div>
</div>
<div class="cta-container2">
  <h3> Expertise </h3>
  <h5> Agroé possède 3 domaines d'expertise </h5>
  <div class="row">
    <div class="col-xs-12 col-md-4 call-to-action2">
      <div class="btn-position3 color-rse2">
        <h5> RSE </h5>
        <p> LA RSE, c'est super important !! </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 call-to-action2">
      <div class="btn-position3 color-digital2">
        <h5> Digital </h5>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 call-to-action2">
      <div class="btn-position3 color-trans2">
        <h5> Relations transfrontalière </h5>
      </div>
    </div>
  </div>
  <span class="extra-links"> <%= link_to "Je souhaite qu'Agroé anime ma réunion", root_path %> </span>
</div>
</div>
<div class="localisation-container2">
  <h3> Restons en contact </h3>
  <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=XzZ0bG5hcXJsZTVwNmNwYjRkaG1qNHBocGVobW11bzlrZDlwNmFyMWw2ZGk2b3NiaTZ0aTdjZGhrNmNzNmVlMzFjc28zMmQ5aWQ5aDZrcmJoNjFrbmFwYjhjaHAzNnIzbGQ5ajcwcTloYzlpajAgbW90dGV0Lmp1bGllbjEyM0Bt&amp;tmsrc=mottet.julien123%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_fr.gif"></a>
  <div>

  <br/>
  <%= link_to 'Envoyer un email', root_path, class:'btn btn-success' %>
  </div>
</div>
</div>
<div class="social-container2">
  <h3> Rejoignez la communauté ! </h3>
  <h5> Nos membres sont de toute taille viennent de la tous les secteurs agro et ... </h5>
  <div class="social-list-entreprises2">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'https://pbs.twimg.com/profile_images/781066285207683072/6TNbm9Gs_400x400.jpg', class:'img-thumbnail img-thumb-size' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/fr/thumb/f/fc/Groupe_Holder_Logo.svg/1003px-Groupe_Holder_Logo.svg.png', class:'img-thumbnail img-thumb-size' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'http://www.academie-gourmande.com/wp-content/uploads/logo_davigel.jpg', class:'img-thumbnail img-thumb-size' %>
      </div>
    </div>
  </div>
  <span class="extra-links2"> <%= link_to 'Découvrir les autres membres du club...', root_path %> </span>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

