<!doctype html>
<div class="temp-banner">
  <div class="temp-banner-content">
    <h1>Agroé</h1>
    <h4>Spécialiste de la <span class='color-rse opacity-light'>RSE</span> et du <span class='color-digital opacity-light'> Digital</span> au service des entreprises <strong>agroalimentaires</strong> des Hauts-de-France... <span class='extra-links'> <%= link_to 'et au delà.', root_path %></span></h4>
  </div>
</div>
<div class="cta-container">
  <h3> Vous êtes débutant ? </h3>
  <h5> Agroé vous offre 2 guides gratuits pour sensibiliser vos équipes </h5>
  <div class="row">
    <div class="col-xs-12 col-md-6 call-to-action">
      <div class="btn-position color-rse">
          <%= link_to "Animer ma première réunion d'équipe sur la RSE ! (pdf)", root_path, class:'color-rse' %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 call-to-action">
      <div class="btn-position color-digital">
        <%= link_to "Animer ma première réunion d'équipe sur le Digital ! (pdf)", root_path, class:'color-digital' %>
      </div>
    </div>
  </div>
  <span class="extra-links"> <%= link_to "Je souhaite qu'Agroé anime ma réunion", root_path %> </span>
</div>
</div>
<div class="localisation-container">
  <div class="localisation-info">
    <p> <strong> Pôle d'Excellence Agroé </strong> </p>
    <p> 14 rue Neuve </p>
    <p> BP 70175 </p>
    <p> 59403 CAMBRAI Cedex </p>
    <p> Tél. : 03.27.70.15.80 </p>
    <%= link_to 'Envoyer un email', root_path, class:'btn btn-success' %>
  </div>
</div>
<div class="social-container">
  <h3> Avec qui travaillons-nous ? </h3>
  <h5> Des TPE, PME, ETI et grands groupes... </h5>
  <div class="social-list-entreprises">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'https://yt3.ggpht.com/a-/AN66SAx40Ef30-k8A_2bGs0-dVlu2Iw2NqGVQJT5iQ=s900-mo-c-c0xffffffff-rj-k-no', class:'img-thumbnail img-thumb-size' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'https://pbs.twimg.com/profile_images/781066285207683072/6TNbm9Gs_400x400.jpg', class:'img-thumbnail img-thumb-size' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/fr/thumb/f/fc/Groupe_Holder_Logo.svg/1003px-Groupe_Holder_Logo.svg.png', class:'img-thumbnail img-thumb-size' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag 'http://www.academie-gourmande.com/wp-content/uploads/logo_davigel.jpg', class:'img-thumbnail img-thumb-size' %>
      </div>
    </div>
  </div>
  <span class="extra-links"> <%= link_to 'Découvrir les autres membres du club...', root_path %> </span>
</div>

