
<div class="devise-form-container">
  <h2>Connexion à l'espace AgroClub</h2>
  <h5>Espace réservé aux adhérents <a href="https://www.helloasso.com/associations/le-pole-d-excellence-regional-de-l-agroalimentaire-agroe/adhesions/adhesion-agroclub-1", class="engage-back">"Agro Club"</a></h5>
  <div class="devise-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" , class: "btn btn-success"%>
    </div>
  <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
