

<div class="section s-white">
  <div class="lien-vers-site-agroe">
       <a href="https://peaceful-torvalds-d12a31.netlify.com/">+ d'information sur le pôle Agroé ?</a>
  </div>
  <h4>Notre travail<h4/><h1> Vos ressources</h1>
  <div class="lock-information">
  <i class="fas fa-lock"></i> : Contenu réservé
  </div>
  <div class="title-cards-section">
    Veille Numérique et RSE
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Veille').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    AgroClubs - comptes-rendus, photos et présentations
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'AgroClub').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    Visites - comptes-rendus et photos
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Visite').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    Webinaires - comptes-rendus et accès aux vidéos
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Webinaire').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    2019
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', '2019').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
</div>
