

<div class="section s-white">
  <div class="lock-information">
  <i class="fas fa-lock"></i> : Contenu réservé
  </div>
  <div class="title-cards-section">
    Contenus Gratuits
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Gratuit').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    Veille
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Veille').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    AgroClubs
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'AgroClub').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    Visites
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Visite').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    Webinaires
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', 'Webinaire').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
  <div class="title-cards-section">
    2019
  </div>
  <div class="cards-content">
    <div class="row">
    <% @events.where('event_type = ?', '2019').order(date: :desc).each do |e| %>
      <%= render 'shared/events/event_card', event: e %>
    <% end %>
    </div>
  </div>
</div>
