<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140671144-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140671144-1');
  </script>
    <meta name="Description" content="Agroé fédère les entreprises agroalimentaires
    engagées et visionnaires de la région Hauts-de-France. Les thématiques d'intervention sont le développement durable, l'export, le retail et le digital" />
    <meta name="title" content="Agroé : Des évènements originaux, une communauté d'entreprises agroalimentaires engagées" />
    <meta name="image" content="https://res.cloudinary.com/julienmottet/image/upload/v1552833565/agroe.png" />
      <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="content">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

  <script type="text/javascript">
var LHCChatOptions = {};
LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
po.src = '//agroe.livehelperchat.com/eng/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true?r='+referrer+'&l='+location;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>
