<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140671144-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140671144-1');
  </script>
  <!-- HTML Meta Tags -->
<title>Agroé, le meilleur de l'agroalimentaire en Hauts-de-France</title>
<meta name="description" content="Agroé, accompagne le secteur agroalimentaire en hauts-de-france dans la révolution numérique, retail et écologique.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Agroé, le meilleur de l'agroalimentaire en Hauts-de-France">
<meta itemprop="description" content="Agroé, accompagne le secteur agroalimentaire en Hauts-de-France dans la révolution numérique, retail et écologique.">
<meta itemprop="image" content="https://res.cloudinary.com/julienmottet/image/upload/v1559590219/Capture_d_e%CC%81cran_2019-06-03_a%CC%80_21.30.04.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://agroe-website.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Agroé, le meilleur de l'agroalimentaire en Hauts-de-France">
<meta property="og:description" content="Agroé, accompagne le secteur agroalimentaire en Hauts-de-France dans la transition numérique et écologique.">
<meta property="og:image" content="https://res.cloudinary.com/julienmottet/image/upload/v1559590219/Capture_d_e%CC%81cran_2019-06-03_a%CC%80_21.30.04.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Agroé, le meilleur de l'agroalimentaire en Hauts-de-France">
<meta name="twitter:description" content="Agroé, accompagne le secteur agroalimentaire en Hauts-de-France dans la révolution numérique, retail et écologique.">
<meta name="twitter:image" content="https://res.cloudinary.com/julienmottet/image/upload/v1559590219/Capture_d_e%CC%81cran_2019-06-03_a%CC%80_21.30.04.png">

<!-- Meta Tags Generated via http://heymeta.com -->
      <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="content">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

  <script type="text/javascript">
var LHCChatOptions = {};
LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
po.src = '//agroe.livehelperchat.com/eng/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true?r='+referrer+'&l='+location;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>
