<!DOCTYPE html>
<html>
  <meta charset="UTF-8">



  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="og:title" content="Agroé : RSE, Export, Digital pour les entreprises agroalimentaires des Hauts-de-France " />
  <meta property="og:type" content="@agroe_i" />
  <meta property="og:url" content="www.agroe.fr" />
  <meta property="og:image" content="https://res.cloudinary.com/julienmottet/image/upload/v1552833565/agroe.png" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:description" content="Agroé accompagne les entreprises agroalimentaires
  engagées et visionnaires de la région Hauts-de-France. Les thématiques d'intervention sont le développement durable, l'export, le digital et l'ingénierie de projet" />
  <meta property="og:keywords" content="agroalimentaire, Hauts-de-France, développement durable, rse, PME" />


  <meta name=”twitter:card” content=”summary_large_image” />
  <meta name=”twitter:site” content=”website />
  <meta name=”twitter:title” content="Agroé : RSE, Export, Digital pour les entreprises agroalimentaires des Hauts-de-France " />
  <meta name=”twitter:description” content="Agroé accompagne les entreprises agroalimentaires
  engagées et visionnaires de la région Hauts-de-France. Les thématiques d'intervention sont le développement durable, l'export, le digital et l'ingénierie de projet" />
  <meta name=”twitter:image” content="https://res.cloudinary.com/julienmottet/image/upload/v1552833565/agroe.png" />


  <meta name="Description" content="Agroé accompagne les entreprises agroalimentaires
  engagées et visionnaires de la région Hauts-de-France. Les thématiques d'intervention sont le développement durable, l'export, le digital et l'ingénierie de projet" />
  <meta name="title" content="Agroé : RSE, Export, Digital pour les entreprises agroalimentaires des Hauts-de-France" />
  <meta name="image" content="https://res.cloudinary.com/julienmottet/image/upload/v1552833565/agroe.png" />
    <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="content">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

  <script type="text/javascript">
var LHCChatOptions = {};
LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
po.src = '//agroe.livehelperchat.com/eng/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true?r='+referrer+'&l='+location;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>
